In [443]:
import numpy as np
import pandas as pd

In [444]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [445]:
movies = movies.merge(credits,on='title')

In [446]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew', 'vote_average']]

In [447]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,vote_average
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.2
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",6.9
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",6.3
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",7.6
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",6.1

In [448]:
movies.dropna(inplace=True)

In [449]:
movies.isnull().sum()

movie_id        0
title           0
overview        0
genres          0
keywords        0
cast            0
crew            0
vote_average    0
dtype: int64

In [450]:
import ast

In [451]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [452]:
movies.dropna(inplace=True)

In [453]:
movies['genres'] = movies['genres'].apply(convert)

In [454]:
movies['keywords'] = movies['keywords'].apply(convert)

In [455]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [456]:
movies['cast'] = movies['cast'].apply(convert)

In [457]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [458]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [459]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [460]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [461]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [462]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [463]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [464]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,vote_average,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],7.2,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],6.9,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],6.3,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],7.6,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],6.1,"[John, Carter, is, a, war-weary,, former, mili..."

In [465]:
new = movies.drop(columns=['overview','genres','keywords','cast','crew'])

In [466]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,movie_id,title,vote_average,tags
0,19995,Avatar,7.2,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,6.9,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,6.3,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,7.6,Following the death of District Attorney Harve...
4,49529,John Carter,6.1,"John Carter is a war-weary, former military ca..."

In [467]:
new['tags'] = new['tags'].apply(lambda x:x.lower())

In [468]:
new.head()

,movie_id,title,vote_average,tags
0,19995,Avatar,7.2,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,6.9,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,6.3,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,7.6,following the death of district attorney harve...
4,49529,John Carter,6.1,"john carter is a war-weary, former military ca..."

In [469]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [470]:
vector = cv.fit_transform(new['tags']).toarray()

In [471]:
vector.shape

(4806, 5000)

In [472]:
! pip install nltk

Requirement already satisfied: nltk in c:\users\amrendra\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: tqdm in c:\users\amrendra\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\amrendra\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: click in c:\users\amrendra\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\amrendra\anaconda3\lib\site-packages (from nltk) (1.1.1)
Requirement already satisfied: colorama in c:\users\amrendra\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [473]:
import nltk

In [474]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [475]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [476]:
new['tags'].apply(stem)

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4804    el mariachi just want to play hi guitar and ca...
4805    a newlyw couple' honeymoon is upend by the arr...
4806    "signed, sealed, delivered" introduc a dedic q...
4807    when ambiti new york attorney sam is sent to s...
4808    ever sinc the second grade when he first saw h...
Name: tags, Length: 4806, dtype: object

In [477]:
from sklearn.metrics.pairwise import cosine_similarity

In [478]:
similarity = cosine_similarity(vector)

In [479]:
def recommend(movie):
    movie_index = new[new['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(new.iloc[i[0]].title)

In [480]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman & Robin
Batman

In [481]:
import pickle

In [482]:
pickle.dump(new,open('movies.pkl','wb'))

In [483]:
pickle.dump(new.to_dict(),open('movie_dict.pkl','wb'))

In [484]:
pickle.dump(similarity,open('similarity.pkl','wb'))